@model PortafolioWeb.Models.SolicitudViewModel
@{
    ViewBag.Title = "FuncionarioSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">I.Municipalidad Vista Hermosa</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Inicio", "Index", "FuncionarioSolicitud")</li>
            <li class="active">@Html.ActionLink("Solicitar Permiso", "FuncionarioSolicitud", "FuncionarioSolicitud")</li>
            <li class="active">@Html.ActionLink("Consultar Permisos", "ConsultarPermisos", "FuncionarioSolicitud")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Cerrar Sesión", "EndSession", "Login")</li>
        </ul>
    </div>
</nav>
<br/>
<div class="container">

    <form class="well form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Solicitud de Permiso</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipos_Solicitud, "Tipo de solicitud", new { @class = "control-label col-md-4" })
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        @Html.DropDownListFor(model => model.Tipos_Solicitud, new SelectList(Model.Tipos_Solicitud, "ID_TIPOSOLICITUD", "DESCRIPCION"), "- Por favor seleccione -", new {id = "TipoSolicitud", @class = "form-control selectpicker", @onchange="MostrarMotivos()"})
                        @Html.ValidationMessageFor(model => model.Tipos_Solicitud,"",new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Motivos, "Motivo de la solicitud", new { @class = "control-label col-md-4" })
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        @Html.DropDownListFor(model => model.Motivos, new SelectList(Enumerable.Empty<SelectListItem>(), "ID_MOTIVO", "DESCRIPCION"), "- Por favor seleccione -", new {id = "Motivos", @class = "form-control selectpicker" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.solicitud.FECHA_INICIO, "Fecha de inicio del permiso", new { @class = "control-label col-md-4" })
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(model => model.solicitud.FECHA_INICIO, new {@placeholder = "Seleccione una fecha", @class = "form-control datepicker", @id = "datepicker" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Cantidad días de permiso</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input class="form-control" name="comment" placeholder="Ingrese cantidad de días" type="number">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Descripción</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control" name="comment" placeholder="Ingrese descripción"></textarea>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4" align="center">
                    <button type="button" id="boton" class="btn btn-primary btn-sm">Ingresar solicitud</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {
            $(".datepicker").datepicker();
        });

      function MostrarMotivos() {
        var id_tiposolicitud = $('#TipoSolicitud').val();
        $.ajax({
            url: '/FuncionarioSolicitud/GetMotivos',
            type: "GET",
            dataType: "JSON",
            data: { id_tiposolicitud: id_tiposolicitud },
            success: function (motivos) {
                $("#Motivos").html(""); // clear before appending new list
                $.each(motivos, function (i, motivo) {
                    $("#Motivos").append(
                        $('<option></option>').val(motivo.ID_MOTIVO).html(motivo.DESCRIPCION));
                });
            },
            error: function()  
            {  
                alert("Algo salió mal.")  
            },  
        });
      }
    </script>
}

