
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "FuncionarioSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">I.Municipalidad Vista Hermosa</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="active">@Html.ActionLink("Solicitar Permiso", "SolicitarPermiso", "FuncionarioSolicitud")</li>
            <li class="active">@Html.ActionLink("Consultar Permisos", "ConsultarPermisos", "FuncionarioSolicitud")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Cerrar Sesión", "EndSession", "Login")</li>
        </ul>
    </div>
</nav>
<br/>
<form class="well form-horizontal">
    <fieldset>

        <legend>Bienvenido Funcionario </legend>
        <h4> @Session["nombre"].ToString()</h4>
        <h4>Unidad: @Session["unidad"].ToString()</h4>

    </fieldset>
</form>


